<div fxLayout="row" fxLayoutAlign="center center" class="ws-main-container">
  <md-card fxFlex="50">
    <form class="login-form" (ngSubmit)="onSubmit()">
    <md-card-header fxLayout fxLayoutAlign="center">
      <md-card-title>
        <h3><i class="fa fa-sign-in"></i> &nbsp; Login</h3>
      </md-card-title>
    </md-card-header>
    <md-card-content fxLayout="column">
      
        <p>
          <md-input-container fxFlex="100">
            <input mdInput required placeholder="Username" [(ngModel)]="username" name="username">
          </md-input-container>
        </p>
        <p>
          <md-input-container fxFlex="100">
            <input mdInput required type="password" placeholder="Password" [(ngModel)]="password" name="password">
          </md-input-container>
        </p>
        <p>
          <md-input-container fxFlex="100">
            <input mdInput required placeholder="Domain" [(ngModel)]="domain" name="domain">
          </md-input-container>
        </p>
        <p>
          <md-select required placeholder="Select MAM" [(ngModel)]="selectedMam" name="mamConfig" fxFlex="100">
            <md-option *ngFor="let mam of mamList" [value]="mam">
              {{mam.name}}
            </md-option>
          </md-select>
        </p>
        <p fxLayout fxLayoutAlign="end" class="ws-info-text">
          * = Required Fields
        </p>
        <p-messages [(value)]="errorMsg"></p-messages>
    </md-card-content>
    <md-card-actions fxLayout fxLayoutAlign="center">
      <button md-button type="submit">Connect &nbsp; <span [hidden]="isConnectionSpinnerHidden"><i class="fa fa-spinner fa-pulse fa-fw"></i></span></button>
    </md-card-actions>
  </form>
  </md-card>
</div>