<div fxLayout="column" fxFlex>
    <p-breadcrumb [model]="breadcrumbService.breadcrumbs"></p-breadcrumb>
    <div fxLayout fxFlex>
        <div fxLayout="column"  fxFlex="20">
            <app-ws-explorer fxFlex></app-ws-explorer>
        </div>
        <div fxLayout="column" fxFlex="50">
            <app-ws-bins fxFlex></app-ws-bins>
        </div>
        <div fxLayout="column" fxFlex="30">
            <app-ws-player fxFlex></app-ws-player>
            <app-ws-metadata fxFlex></app-ws-metadata>
        </div>
    </div>
</div>