.ws-main-container {
   overflow: hidden !important;
   text-overflow: ellipsis;
  height: calc(100vh - 44px);
 }
 .ws-card-content {
      overflow-y: auto !important;
      flex-direction: column;
       box-sizing: border-box;
        display: flex; flex: 1 1 0%;
         max-height:90%;

 }

.as-split {
    ::ng-deep .as-split-gutter {
        background-color: rgba(255,255,255,.12) !important;
        position: relative;
    }
}
:host ::ng-deep .mat-tab-body-content{
		overflow-x: hidden;
}
mat-card-content{
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}
.ws-breadcrumb {
  height: 44px;
}
.ws-main-content {
  height: calc(100% - 44px);
  width: 100%;
  min-width: 100%;
}
