.ws-card-item {
    min-width: 160px;
    max-width: 160px;
    min-height: 160px;
    max-height: 160px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 5px;
}
.ws-card-item-content {
    text-align: center;
}
.ws-card-item-name {
    font-size: x-small;
    text-align: center;
}
.ws-tab {
    overflow-y: auto;
}