<md-toolbar color="primary">
  <span>Cinegy Workspace v11</span>
  <span class="ws-menu-fill-remaining-space"></span>
  <div layout="row" flex>
    <form>
      <md-input-container flex class="md-icon-float md-block md-title">
        <input class="ws-input" mdInput type="search" placeholder="Search" [(ngModel)]="keywords" name="keywords" [disabled]="!appState.connected">
      </md-input-container>
      <button md-icon-button [disabled]="!appState.connected" (click)="search()">
      <i class="fa fa-search"></i>
    </button>
    </form>
  </div>
  <button md-button [mdMenuTriggerFor]="menu">
    <span *ngIf="!appState.connected">Not connected</span>
    <span *ngIf="appState.connected">{{appState.selectedMam.username}}</span>
    &nbsp; <i class="fa fa-user-circle-o"></i> 
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item [disabled]="!appState.connected" (click)="logout()">
      <i class="fa fa-sign-out"></i> 	&nbsp;
      Logout
    </button>
  </md-menu>
</md-toolbar>