<mat-toolbar color="primary">
  <div (click)="goHome()" class="ws-cursor-pointer">Cinegy Workspace</div>&nbsp;<!---->
  <div>
    <i class="fa fa-{{timerIconName}}" aria-hidden="true"></i>&nbsp; <!-- Compliant icon fonts usage -->
  </div><!---->
  <span class="ws-main-menu-fill-remaining-space"></span>
  <div layout="row" flex>
    <form>
      <mat-form-field flex class="ws-font-smaller" appearance="legacy" [floatLabel]="'never'">
        <input matInput type="search" placeholder="Search" [(ngModel)]="keywords" name="keywords"
               [disabled]="!appState.connected">
      </mat-form-field>
      <button mat-icon-button [disabled]="!appState.connected" (click)="search()">
        <i class="fa fa-search " aria-hidden="true"></i> <!-- Compliant icon fonts usage -->
      </button>
    </form>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <span *ngIf="!appState.connected">Not connected</span>
    <span *ngIf="appState.connected">{{appState.selectedMam.username}}</span>
    &nbsp; <i class="fa fa-user-circle-o" aria-hidden="true"></i> <!-- Compliant icon fonts usage -->
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="!appState.connected" (click)="showInfo()" class="ws-main-menu-item">
      <mat-icon fontSet="fa" fontIcon="fa-info"></mat-icon>
      <span>Info</span>
    </button>
    <button mat-menu-item (click)="logout()" class="ws-main-menu-item">
      <mat-icon fontSet="fa" fontIcon="fa-sign-out"></mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="panelMenu">Layouts</button>
  </mat-menu>
  <mat-menu #panelMenu>
    <ng-template ngFor let-panel of [ngForOf]="this.appState.layoutSettings.panels">
      <mat-checkbox *ngIf="panel.menuName && !panel.childrenPanels; else childrenPanelBlock"  class="mat-menu-item" [(ngModel)]="panel.visible">{{panel.menuName}}</mat-checkbox>
      <ng-template #childrenPanelBlock>
        <mat-checkbox *ngFor="let subpanel of panel.childrenPanels"  class="mat-menu-item" [(ngModel)]="subpanel.visible">{{subpanel.menuName}}</mat-checkbox>
      </ng-template>
    </ng-template>
  </mat-menu>
</mat-toolbar>
