<mat-toolbar color="primary">
  <span>Cinegy Workspace v{{configService.getVersion()}}</span>
  <span class="ws-menu-fill-remaining-space"></span>
  <div layout="row" flex>
    <form>
      <mat-input-container flex class="mat-icon-float mat-block mat-title">
        <input class="ws-input" matInput type="search" placeholder="Search" [(ngModel)]="keywords" name="keywords" [disabled]="!appState.connected">
      </mat-input-container>
      <button mat-icon-button [disabled]="!appState.connected" (click)="search()">
      <i class="fa fa-search"></i>
    </button>
    </form>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <span *ngIf="!appState.connected">Not connected</span>
    <span *ngIf="appState.connected">{{appState.selectedMam.username}}</span>
    &nbsp; <i class="fa fa-user-circle-o"></i> 
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="!appState.connected" (click)="logout()">
      <i class="fa fa-sign-out"></i> 	&nbsp;
      Logout
    </button>
  </mat-menu>
</mat-toolbar>