<md-card fxFlex style="overflow-y: auto;">
  <md-card-content>
    <div *ngIf="loading" style="text-align: center;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <h3 *ngIf="selectedNode">
      <app-ws-node-image md-card-avatar *ngIf="selectedNode && appState.nodeIcons[selectedNode.type] && appState.nodeIcons[selectedNode.type].large"
        [imageData]="appState.nodeIcons[selectedNode.type].large" [imageWidth]="16" [imageHeight]="16">
      </app-ws-node-image>
      {{selectedNode.name}}
    </h3>
    <md-divider></md-divider>
    <div>
      <md-tab-group>
        <md-tab *ngFor="let group of descriptorGroups">
          <ng-template md-tab-label>
            <section layout="row">
              <span>{{group[0].group.name}}</span>
            </section>
          </ng-template>
          <md-list dense fxFlexFill fxFlex style="overflow: hidden;">
            <md-list-item *ngFor="let item of group">
              <span class="ws-metadata-icon"><i *ngIf="item.isReadOnly" class="fa fa-lock"></i></span>
              <span class="ws-metadata-icon"><i *ngIf="!item.isReadOnly" class="fa fa-pencil"></i></span>
              <span class="ws-metadata-name" mdTooltip="{{item.description}}" mdTooltipPosition="below">{{item.name}}</span>
              <span class="ws-metadata-value">
                <span [ngSwitch]="item.type">
                    <md-input-container  *ngSwitchCase="'string'" fxFlex fxFlexFill>
                      <input mdInput value="{{item.value.value}}" type="text" [readonly]="item.isReadOnly" [(ngModel)]="item.value.value">
                    </md-input-container>
                    <md-input-container  *ngSwitchCase="'date'" fxFlex fxFlexFill>
                      <input mdInput value="{{item.value.value}}" [readonly]="item.isReadOnly" [(ngModel)]="item.value.value">
                    </md-input-container>
                    <md-input-container *ngSwitchCase="'text'" fxFlex fxFlexFill>
                      <textarea  mdInput [readonly]="item.isReadOnly" [(ngModel)]="item.value.value">{{item.value.value}}</textarea>
                    </md-input-container>
                    <div *ngSwitchCase="'bool'" fxFlex fxFlexFill style="text-align: center;">
                      <md-checkbox  [(ngModel)]="item.value.value"></md-checkbox>
                    </div>
                    <span *ngSwitchCase="'preset'">
                        <span *ngIf="!item.isReadOnly">
                          <md-select [(ngModel)]="item.value.value" fxFlex fxFlexFill>
                            <md-option *ngFor="let presetValue of item.possibleValues" [value]="presetValue.value">
                              {{ presetValue.name }}
                            </md-option>
                          </md-select>
                        </span>
                        <span *ngIf="item.isReadOnly">
                            <md-input-container fxFlex fxFlexFill>
                              <input mdInput value="{{item.value.value}}" readonly>
                            </md-input-container>
                        </span>
                    </span>
                    <md-input-container *ngSwitchDefault fxFlex fxFlexFill>
                      <input mdInput value="{{item.value.name}}" [readonly]="item.isReadOnly" [(ngModel)]="item.value.value">
                    </md-input-container>
                </span>
              </span>
              <div *ngIf="!item.isReadOnly" class="ws-metadata-save-button">
                <button md-icon-button (click)="saveMetadata(item)"><i class="fa fa-save"></i></button>
              </div>
            </md-list-item>
          </md-list>
        </md-tab>
      </md-tab-group>
    </div>
  </md-card-content>
</md-card>