<mat-card>
  <mat-card-content>
    <h5>Media import locations</h5>
    <mat-divider></mat-divider>
    <div fxLayout="column">
      <mat-list dense>
        <mat-list-item *ngFor="let model of uploadModels; let i = index">
          <div class="ws-upload-store-name" (click)="storeSelected($event, model)">{{model.store.name}}</div>
            <mat-progress-bar mode="determinate" [value]="model.uploadProgress" color="warn" style="width: 100px; margin-left: 10px; margin-right: 10px;"></mat-progress-bar>
          <div>
            <input hidden [id]="model.id" multiple type="file" #mediaFileInput (change)="fileSelected($event, model)" />
            <button mat-icon-button (click)="mediaFileInput.click()" matTooltip="Select file">...</button>
            <button mat-icon-button (click)="cancelUpload(model)" matTooltip="Cancel upload"><i class="fa fa-ban"></i></button>
          </div>
        </mat-list-item>
      </mat-list>
      <div>
        <mat-divider></mat-divider>
        <mat-list dense>
          <h5 mat-subheader>{{selectedModel?.store.name}}</h5>
          <div *ngIf="loading" style="text-align: left;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
          <mat-list-item *ngFor="let item of selectedStoreContent; let j = index">
            <mat-icon mat-list-icon class="fa fa-file"></mat-icon>
            <h5 mat-line>{{item.Name}}</h5>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
