<md-card fxFlex>
  <md-card-content>
    <div *ngIf="loading" style="text-align: center;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <div>
      <span *ngIf="selectedClip">
          <app-ws-node-image md-card-avatar *ngIf="appState.nodeIcons[selectedClip.type] && appState.nodeIcons[selectedClip.type].large"
            [imageData]="appState.nodeIcons[selectedClip.type].large" [imageWidth]="16" [imageHeight]="16">
          </app-ws-node-image>
          {{selectedClip.name}}
        </span>
    </div>
    <md-divider></md-divider>
    <div id="videoContainer">
      <md-chip-list fxLayout fxLayoutAlign="center  center">
        <md-chip fxFlex>{{timmecodeHead}}</md-chip>
        <md-chip fxFlex>{{timmecodeDuration}}</md-chip>
        <md-chip fxFlex>{{timmecodeEnd}}</md-chip>
      </md-chip-list>
      <video #mediaPlayer id="mediaPlayer" name="mediaPlayer" autobuffer tabindex="1" (keydown)="playerKeyPressed($event)" (click)="playerClicked($event)">
      </video>
      <div fxLayout="column" style="height: 40px;">
        <p-slider fxFlex [(ngModel)]="markers" [min]="sliderStart" [max]="sliderEnd" [step]="0.1" [range]="true"></p-slider>
        <md-slider id="videoSlider" #videoSlider fxFlex  (change)="videoSliderChanged()" (input)="videoSliderMoved(videoSlider.value)"
          [min]="sliderStart" [max]="sliderEnd" [(value)]="sliderHead" [step]="0.1">
        </md-slider>
      </div>
      <div fxLayout fxLayoutAlign="center  center">
        <button md-icon-button (click)="clearMarkIn()"><i class="fa fa-map-marker fa-border"></i></button>
        <button md-icon-button (click)="setMarkIn()"><i class="fa fa-map-marker"></i></button>
        <button md-icon-button *ngIf="player?.paused" (click)="play()"><i class="fa fa-play"></i></button>
        <button md-icon-button *ngIf="!player?.paused" (click)="pause()"><i class="fa fa-pause"></i></button>
        <button md-icon-button (click)="setMarkOut()"><i class="fa fa-map-marker"></i></button>
        <button md-icon-button (click)="clearMarkOut()"><i class="fa fa-map-marker fa-border"></i></button>
        <!-- <button md-icon-button (click)="createSubClip()" *ngIf="!isMasterclip"><i class="fa fa-photo"></i></button> -->
        <button md-icon-button *ngIf="player?.muted" (click)="toggleMute()"><i class="fa fa-volume-off"></i></button>
        <button md-icon-button *ngIf="!player?.muted" (click)="toggleMute()"><i class="fa fa-volume-up"></i></button>
        <!-- <button md-icon-button (click)="toggleFullscreen()" *ngIf="!fullscreen.isFullscreen"><i class="fa fa-expand"></i></button>
        <button md-icon-button (click)="toggleFullscreen()" *ngIf="fullscreen.isFullscreen"><i class="fa fa-compress"></i></button> -->
      </div>
    </div>
  </md-card-content>
</md-card>