<mat-card fxFlex>
  <mat-card-content #explorerNodes>
    <h3 *ngIf="selectedNode" (click)="selectParent()" (contextmenu)="contextMenuOpen(selectedNode, false)" class="ws-explorer-header">
      <app-ws-node-image mat-card-avatar *ngIf="selectedNode && appState.nodeIcons[selectedNode.type] && appState.nodeIcons[selectedNode.type].large"
        [imageData]="appState.nodeIcons[selectedNode.type].large" [imageWidth]="16" [imageHeight]="16">
      </app-ws-node-image>
      {{selectedNode.name}} ({{childCount}})
    </h3>
    <mat-divider></mat-divider>
    <div *ngIf="loading" style="text-align: center;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <mat-list dense *ngIf="childNodes">
      <mat-list-item *ngFor="let child of childNodes" (click)="selectNode(child)" (dblclick)="openNode(child)" (contextmenu)="contextMenuOpen(child, true)">
        <app-ws-node-image *ngIf="appState.nodeIcons[child.type] && appState.nodeIcons[child.type].large" mat-list-icon [imageData]="appState.nodeIcons[child.type].large"
          [imageWidth]="32" [imageHeight]="32">
        </app-ws-node-image>
        <h4 mat-line>{{child.name}}</h4>
        <p mat-line>{{child.modified | date}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<p-contextMenu [target]="explorerNodes" [model]="contextMenuItems"></p-contextMenu>