<md-card fxFlex>
  <md-card-content #explorerNodes>
    <h3 *ngIf="selectedNode" (contextmenu)="contextMenuOpen(selectedNode, false)" class="ws-explorer-header">
      <app-ws-node-image md-card-avatar *ngIf="selectedNode && appState.nodeIcons[selectedNode.type] && appState.nodeIcons[selectedNode.type].large"
        [imageData]="appState.nodeIcons[selectedNode.type].large" [imageWidth]="16" [imageHeight]="16">
      </app-ws-node-image>
      {{selectedNode.name}} ({{childCount}})
    </h3>
    <md-divider></md-divider>
    <div *ngIf="loading" style="text-align: center;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <md-list dense *ngIf="childNodes">
      <md-list-item *ngFor="let child of childNodes" (click)="selectNode(child)" (contextmenu)="contextMenuOpen(child, true)">
        <app-ws-node-image *ngIf="appState.nodeIcons[child.type] && appState.nodeIcons[child.type].large" md-list-icon [imageData]="appState.nodeIcons[child.type].large"
          [imageWidth]="32" [imageHeight]="32">
        </app-ws-node-image>
        <h4 md-line>{{child.name}}</h4>
        <p md-line>{{child.modified | date}}</p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<p-contextMenu [target]="explorerNodes" [model]="contextMenuItems"></p-contextMenu>